name: Build Release

permissions:
  id-token: write
  contents: write
  attestations: write

on:
  release:
    types: [published]

jobs:

  release:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v4

    - name: Run build script
      run: |
        chmod +x ./Build.sh
        ./Build.sh

    - name: Install zip
      run: sudo apt-get install zip -y
    
    - name: Package addons
      run: zip -r addons.zip addons

    - name: Upload binary to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: addons.zip
        tag: ${{ github.ref }}
        overwrite: true
    
    - name: Generate artifact attestation
      uses: actions/attest-build-provenance@v2
      with:
        subject-path: addons.zip